# Compilation related files
.packaged/build/
.packaged/dist/
.packaged/spec/

# Python bytecode
__pycache__/

# Local venv
.virtual

# Logs
log/*

# Local user settings, recreated with defaults on first run
/settings.json
